$dark: #383838;
$white: #ffffff;
$subText: #676767;

$bg-border: #dbbdbd;
$bg-color: #EBEBEB;
$sub-bg-color: #E8E8E8;

$bg-login: #f9f9f9;
$color-btn: #171717;
$bg-btn: #eeeeee;
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
  Roboto !default;